@font-face {
	font-family: "FreeMono";
	src: local("FreeMono.ttf"),
		url("./fonts/FreeMono.ttf") format("truetype");
}
body {
	font-family: "FreeMono";
}

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}
@mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}	
@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}	
@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}

.pink-text {
	font-size: 20px;
	color: red;
	text-align: center;
	&:hover {
		color: blue;
	}
}
.navBar {
	font-size: 16px;
	display: inline-block;
	margin: 1em;
	text-decoration: none;	
	color: black;
	&:hover {
		text-decoration: underline;
	}
}
.navBar-container {
	width: 100%;
	text-align: center;
}
@include sm {
	.navBar {
		font-size: 20px;
	}
	.pink-text {
		font-size: 30px;
	}
}
@include md {
	.navBar {
		font-size: 22px;
	}
	.pink-text {
		font-size: 50px;
	}
}
@include lg {
	.navBar {
		font-size: 26px;
	}
	.pink-text {
		font-size: 80px;
	}
}
@include xl {
	.navBar {
		font-size: 28px;
	}
	.pink-text {
		font-size: 100px;
	}
}
