@font-face {
	font-family: "FreeMono";
	src: local("FreeMono.ttf"),
		url("./fonts/FreeMono.ttf") format("truetype");
}
* {
	font-family: "FreeMono";
	margin: 0px;
}

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$baseFontSize-pText: 16px;
$baseFontSize-navBar: 18px;

@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}
@mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}	
@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}	
@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}

.spacer {
	margin: 5%;	
}
.pText-01 {
	font-size: $baseFontSize-pText;
	color: red;
	text-align: center;
	&:hover {
		color: blue;
	}
}
.navBar {
	font-size: $baseFontSize-navBar;
	display: inline-block;
	margin: 1em;
	margin-top: 2em;
	text-decoration: none;	
	color: black;
	&:hover {
		text-decoration: underline;
	}
}
.navBar-container {
	width: 100%;
	text-align: center;
}
@include sm {
	.spacer {
		margin: 1%;	
	}
	.navBar {
		font-size: 1.5em;
		margin-top: 1.5em;
		margin-left: 2em;
		margin-right: 2em;
	}
	.pText-01 {
		font-size: 1.5em;
	}
}
@include md {
	.navBar {
		font-size: 2em;
		margin-top: 1em;
	}
	.pText-01 {
		font-size: 2em;
	}
}
@include lg {
	.navBar {
		font-size: 2.5em;
		margin-top: 1em;
	}
	.pText-01 {
		font-size: 2.5em;
	}
}
@include xl {
	.spacer {
		margin: 2%;	
	}
	.navBar {
		font-size: 2.5em;
		margin-top: 1em;
		margin-left: 1em;
		margin-right: 1em;
	}
	.navBar-container {
		width: 100%;
		text-align: left;
	}
	.pText-01 {
		font-size: 3em;
	}
}
